@import url('https://fonts.googleapis.com/css2?family=Abel&family=Syne&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Abel, Syne, sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #292929;
  /* background-color: #383838; */
  padding: 20px;
}

/* Navigation & Headings */

h1, h2 {
  font-family: Abel, Syne, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;

}

/* navi */

#navi {
  display: flex;
  float: right;
  font-size: larger;
  line-height: 105px;
}

#navi li {
  list-style-type: none;
  margin-right: 120px;
}

#navi a {
  text-decoration: none;
  color: inherit;
}

#mask {
  float: left;
  font-size: 250%;
  margin-left: 120px;
  margin-right: 200px;
  color: rgb(209, 36, 6);
}

#navi, #mask {
  line-height: 75px;
}

#navi a:hover {
  font-weight: bold;
}

#mask {
  transition: all 0.2s ease-in-out;
}

#mask:hover {
  color: gold;
  
}

.active {
  color: gold;
  font-weight: bold;
}

/* home image */

#name p {
  font-size: large;
  letter-spacing: 2px;
  text-align: top;
  color: #ffffff;
  font-style: italic;
}

#name {
  color: #ffffff;
  font-size: 3vw;
  letter-spacing: 2px;
  text-align: center;
  line-height: 200px;
  /* margin-left: 10%;
  margin-top: 65px; */

  width: 80%;
  height: 300px;
  outline: 1px solid #dadada;
  border-radius: 5px;

  background-color: rgba(212, 181, 0, 0.404);
  display: inline-table;
  margin: 2em auto;

}

/* #home-outer {
  padding: ;
} */

#home-image {
  /* height: 700px; */
  width: 100%;
  margin-top: 75px;
  background: url('../images/BGromantheatre1.jpg') no-repeat center center;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

/* portrait & about */

.intro {
  /* height: 600px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  align-items: stretch;
}

#quote1 {
  text-align: center;
  margin: 20px 20px 0 0;
  color: #ffffff;
  outline: 1px solid #858585;
  border-radius: 5px;
  font-size: large;
  background-color: rgba(70, 59, 1, 0.349);
  flex: 34%;
  padding: 10px;
}

#quote1 li {
  text-align: left;
  font-size: medium;
  list-style: none;
}

#quote2 {
  text-align: center;
  margin: 20px 0 0 20px;
  color: #ffffff;
  outline: 1px solid #858585;
  border-radius: 5px;
  font-size: large;
  background-color: rgba(70, 59, 1, 0.349);
  flex: 34%;
  padding: 10px;
}

#portrait-container {
margin: 20px 0 0 0;
height: 600px;
width: 300px;
border-style: solid;
border-color: #858585;
border-width: 1px;
border-radius: 5px;
flex: 25%;
}

#portrait {
  height: 100%;
  background: url('../images/profile2.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 5px;
}

/* responsive design styling */

@media (max-width: 800px) {
  #portrait, #quote1, #quote2, #portrait-container { flex: 100%; }
  #name {font-size: 6vw;}
}


#tnb {
  width: 100%;
  height: 350px;
  margin-top: 50px;
  background: url('../images/BGmasks.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: stretch;
}

#tnb h2 {
  text-align: center;
  background-color: rgba(70, 59, 1, 0.301);
  width: 20%;
  height: inherit;
  margin-left: 40%;
  padding: 90px 0 0 0;
  border: 2px solid #dadada;
  border-top: none;
  box-sizing: content-box;
}

/* social media links */

footer {
  height: 100px;
}

.social-networks {
  text-align: center;
}

.social-networks >li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #dadada;
}

/* media page */

#pictures {
  clear: both;
  line-height: 0;
  column-count: 3;
  column-gap: 3px;
}

#pictures > img {
  width: 100%;
  margin-top: 3px;
}

/* contact form */

#form {
  background: url(../images/BGContact.jpg) no-repeat center center;
  background-position: center;
  background-size: cover;
  height: 1200px;
  width: 700px;
  margin: 50px auto;
  clear: both;
  text-align: center;
}

.contact-form {
  background-color: rgba(70, 59, 1, 0.301);
  max-width: 700px;
  padding: 20px;
  left: 15%;
  letter-spacing: 2px;
  text-align: left;
}

.contact-form #title {
  letter-spacing: 4px;
  border-bottom: 1px solid #dadada;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 25px;
  text-align: center;
}

.contact-form label {
  text-transform: uppercase;
}