@import url('https://fonts.googleapis.com/css2?family=Abel&family=Syne&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Abel, Syne, sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #292929;
  padding: 20px;
}

/* Navigation & Headings */

h1, h2 {
  font-family: Abel, Syne, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;

}

/* navi */

#navi {
  display: flex;
  float: right;
  font-size: larger;
  line-height: 105px;
}

#navi li {
  list-style-type: none;
  margin-right: 120px;
}

#navi a {
  text-decoration: none;
  color: inherit;
}

#mask {
  float: left;
  font-size: 250%;
  margin-left: 120px;
  margin-right: 200px;
  color: rgb(209, 36, 6);
  transition: all 0.2s ease-in-out;
}

#navi, #mask {
  line-height: 75px;
}

#navi a:hover {
  font-weight: bold;
}

#mask:hover {
  color: gold;
}

#mask2 {
  color: rgb(209, 36, 6);
  transition: all 0.2s ease-in-out;
}

#mask2:hover {
  color: gold;
}

.active {
  font-weight: bold;
}

/* home image */

#name p {
  font-size: large;
  letter-spacing: 2px;
  text-align: top;
  color: #ffffff;
  font-style: italic;
}

#name h1 {
  color: #ffffff;
}

#name {
  font-size: 3vw;
  letter-spacing: 2px;
  text-align: center;
  line-height: 200px;

  width: 80%;
  height: 300px;
  outline: 1px solid #858585;
  border-radius: 5px;

  background-color: rgba(59, 50, 1, 0.397);
  display: inline-table;
  margin: 2em auto;
}

#home-image {
  width: 100%;
  margin-top: 75px;
  background: url('../images/bg.romantheatre1.jpg') no-repeat center center;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

/* portrait & about */

.intro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  align-items: stretch;
}

#quote1 {
  text-align: center;
  margin: 20px 20px 0 0;
  color: #ffffff;
  outline: 1px solid #858585;
  border-radius: 5px;
  font-size: large;
  background-color: rgba(70, 59, 1, 0.349);
  flex: 34%;
  padding: 10px;
  padding-top: 3%;
}

#quote1 li {
  text-align: left;
  font-size: medium;
  list-style: none;
}

#quote2 {
  text-align: center;
  margin: 20px 0 0 20px;
  color: #ffffff;
  outline: 1px solid #858585;
  border-radius: 5px;
  font-size: large;
  background-color: rgba(70, 59, 1, 0.349);
  flex: 34%;
  padding: 10px;
  padding-top: 7%;
}

#portrait-container {
margin: 20px 0 0 0;
height: 600px;
width: 300px;
border-style: solid;
border-color: #858585;
border-width: 1px;
border-radius: 5px;
flex: 25%;
}

#portrait {
  height: 100%;
  background: url('../images/profile2.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 5px;
}

/* bottom part with tnb link  */

#tnb {
  width: 100%;
  height: 350px;
  margin-top: 50px;
  background: url('../images/bg.masks.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: stretch;
}

#tnb h2 {
  text-align: center;
  background-color: rgba(70, 59, 1, 0.301);
  width: 20%;
  height: inherit;
  margin-left: 40%;
  padding: 90px 0 0 0;
  border: 2px solid #dadada;
  border-top: none;
  box-sizing: content-box;
}

#tnb-icon {
  color: rgb(209, 36, 6);
  transition: all 0.2s ease-in-out;
}

#tnb-icon:hover {
  color: gold;
}

/* social media links */

footer {
  height: 100px;
}

.social-networks {
  text-align: center;
}

.social-networks >li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #dadada;
}

/* media page */

#pictures {
  clear: both;
  line-height: 0;
  column-count: 3;
  column-gap: 3px;
}

#pictures > img {
  width: 100%;
  margin-top: 3px;
}

/* contact form */

#form {
  background: url(../images/bg.contact.jpg) no-repeat center center;
  background-size: cover;
  height: 1200px;
  width: 55%;
  margin: 75px auto;
  clear: both;
  margin-bottom: 15px;
}

.contact-form {
  background-color: rgba(70, 59, 1, 0.301);
  width: 60%;
  border: 1px solid #858585;
  border-radius: 4px;
  padding: 15px;
  letter-spacing: 2px;
  /* display: inline-table; */
  /* margin: 150px 11% 25px;  */
  display: inline-table;
  margin: 7.5em 19%;
}

.text-input {
  background: transparent;
  width: 40%;
  height: 30px;
  margin: 5px 0 20px 0;
  border: 1px solid #858585;
  border-radius: 4px;
  padding:5px 10px;
  font-size: 15px;
  color: #dadada;
}

#message {
  /* width: inherit; */
  width: 90%;
  height: 300px;
  color: #dadada;
  text-align: left;
}

form #title {
  line-height: 75px;
  letter-spacing: 4px;
  border-bottom: 1px solid #dadada;
  padding-bottom: 5px;
  margin-bottom: 35px;
  text-align: center;
}

form #full-name, #email, #message {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  outline: 0;
}

form .action {
  margin-bottom: 75px;
  background: rgb(209, 36, 6);
  border-radius: 4px;
  border: 1px solid #858585;
  cursor: pointer;
  text-transform: uppercase;
  color: #dadada;
  padding: 10px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.action:hover {
  background: gold;
  color: #292929;
}

form label {
  text-transform: uppercase;
}

#reset {
  float: right;
}

/* responsive design styling */

@media (max-width: 800px) {
  #portrait, #portrait-container, #form { flex: 100%; }
  #name {font-size: 6vw;}
  #navi {
    margin-left: 5px; 
    line-height: 25px;
    flex-direction: row-reverse;
}

#quote1, #quote2, {
  flex: 100%;
}

#navi li {
  margin-right: 25px;
}
  #mask {
    margin-left: 30px;
    margin-right: 50px;
  }

  #form, .contact-form {
    width: 90%;
    margin: 75px auto;
    clear: both;
    display: inline-table;
  }
}
