@import url('https://fonts.googleapis.com/css2?family=Abel&family=Syne&display=swap');
 
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Abel, Syne, sans-serif;
    font-weight: 400;
    color: #dadada;
    background-color: #757575;
    padding: 20px;
 }

 /* Navigation & Headings */

 h1, h2 {
    font-family: Abel, Syne, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
    
 }

 #name {
    font-size: 180%;
    text-align: center;
    display: flex;
   }

 /* navi */

 #navi {
    display: flex;
    float: right;
    font-size: larger;
 }
 
 #navi li {
    list-style-type: none;
    margin-right: 120px;
 }

 #navi a {
    text-decoration: none;
    color: inherit;
 }

 #navi, #name {
   line-height: 105px;
 }

 #navi a:hover {
   border-bottom: 1px #dadada;
   font-weight: bold;
 }

 .active {
   color: #dadada;
   font-weight: bold;
 }

 /* home image & portrait image */

 #home-image {
   height: 700px;
   width: 100%;
   margin-top: 25px;
   background: url('../images/BGromantheatre1.jpg') no-repeat center center;
   background-position: center center;
   background-size: cover;
   /* opacity: 60%; */
 }

 #portrait {
   height: 700px;
   width: 30%;
   margin-top: 25px;
   background: url('../images/profile2.jpg') no-repeat center center;
   float: left;
   background-size: contain;
   background-position: left;
 }

 #quote p {
   color: #ffffff;
   outline: 1px solid #dadada;
   border-radius: 5px;
   width: 30%;
   display: inline-block;
   font-size: large;
   position: relative;
   left: 20%;
   bottom: -10%;
   background-color: #7575759a;
   opacity: 90%;

 }